@font-face {

    font-family: Comfortaa; /* Имя шрифта */
    
    src: url(Fonts/Comfortaa.ttf); /* Путь к файлу со шрифтом */
    
}

.button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background-color: #FFA800;
    text-transform: uppercase;
    color: #000000;
    border-radius: 5px;
}

.container {
    height: 2000px;
    width: 1000px;
    margin: 0 auto;
    border-color: white;
    background: #FBFBFB;
}

.preview {
    background-image: url(images/prew.png);
    width: 1000px;
    height: 315px;
}

#nav-top .logo{
    margin-left: 20px;
    margin-top: 13px;
    width: 60px;
    height: 47px;
    background: url(images/logo.png) no-repeat;
}

.date-manage-box {
    position: inherit;
    width: 400px;
    height: 186px;
    float: right;
    margin-top: 64px;
    margin-right: 21px;
    padding-top: 20px;
    padding-left: 26px;
    box-sizing: border-box;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.date-manage-box label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #666666;
}

#date-submit {
    
}

.date-manage-box input {
    
    text-transform: uppercase;
    margin-top: 7px;
    padding-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 5px;

    color: #333333;

    box-sizing: border-box;
    border: 1px #CCCCCC solid;
    border-radius: 5px;
    height: 47.5px;
    width: 350.5px;
}

#nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.language {
    margin-right: 20px;
    margin-left: 77%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.currence img,
.language img {
    padding-left: 8px;
}

.currence {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

#page-main {
    width: inherit;
    box-shadow: 0px 0px 10px #00000026;
}

.most-popular {
    width: inherit;
}
  
.popular-card {
    display: inline-block;
    margin-left: 9px;
    width: 235px;
    height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 2px;
    border-radius: 5px;
}

/*.popular-card p{
    padding-left: 20px;
    padding-right: 20px;
}*/

.popular-card img{
    width: 235px;
    height: 130px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h3 {
    padding-left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.02em;

    color: #000000;
}

.card-title {
    font-family: Roboto;
    font-style: bold;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.card-desc {
    font-family: Roboto;
    font-style: bold;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;

    color: #000000;
}

.card-text {
    height: 281px;
    padding-left: 20px;
    padding-right: 20px;
}

.price {
    font-family: Roboto;
    font-style: bold;
    font-weight: 600;
    font-size: 16px;

    color: #000000;
}
.count {
    text-transform: lowercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 5px;

    color: #333333;
}

.rating {
}

#full-star {
    width: 17px;
    height: 17px;
    background: url(images/Star-full.svg) no-repeat;
}

.stars {
    display: flex;
    flex-direction: row;
}

.most-popular-table {
    float: right;
    width: 100px;
    height: 16px;

    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    text-align: center;

    align-self: center;
    color: #FFFFFF;

    background: #6571DC;
    border-radius: 3px;
}

.special-offers {
    width: 982px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.special-offers img{
    display: block;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: -33px; /*???*/
}

.offers-desc {    
    display: block;
    width: inherit;
    height: 195px;

    background: linear-gradient(90deg, #F4E182 -1.79%, #F3DB59 100%);
    border-radius: 0px 0px 5px 5px;
}

.offers-desc p {

    padding-top: 28px;
    padding-left: 120px;
    padding-right: 120px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
}

.offers-desc p span{
    color: rgb(227, 120, 57);
}

.offers-desc input {
    margin-left: 329px;
    margin-right: 329px;
    width: 346px;
    height: 48px;
    text-transform: uppercase;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #000000;
    
    background: #FFA800;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1), 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.cat-card {
    margin-bottom: 21px;
    width: 185px;
    height: 240px;
    display: inline-block;
    margin-left: 9px;
    border-radius: 0px 0px 5px 5px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cat-card img {
    border-radius: 5px 5px 0px 0px;
}

.cat-card p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #000000;
}

#our-features {
    width: inherit;
    padding-left: 10px;
    padding-right: 10px;
}

.features-box {
    width: 982px;
    height: 400px;
    background-image: url(images/features.png);
}

#our-features p {
    position: absolute;
    margin-top: 16%;
    margin-left: 50%;
    width: 300px;
    float: right;

    color: white;
    text-align: center;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.sub-text {
    font-size: 10px;
    font-weight: 300px;

    position: relative;
    padding-top: 50px;
}

#service-box {
    margin-left: 10px;
    margin-right: 10px;

    width: 982.22px;
    height: 400px;
    background: url(images/transfer.png);
    width: 982.22px;
    height: 400px;
}

#page-footer {
    width: inherit;
    height: 402px;

    background: #3A4583;
}

#footer-links {
    padding-left: 21px;
    padding-top: 65px;
    width: 330px;
    height: 201px;
    padding-bottom: 50px;
}

#page-footer p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

#social {
    display: block;
    text-align: center;
}

#social img {
    margin-left: 30.3px;
}